<div class = "container">
  <div class = "id_container">
    ID: <%= category.id %>
  </div>

  <div class = "name_container">
    Title: <%= category.name %>
  </div>

  <div class = "body_container">
    Game: <%= category.body %>
  </div>
</div>
<div class = "back">
  <td><%= link_to "Back", categories_path %></td>
</div>